.content {
  position: relative;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 635px;
  border: 1px solid black;
  width: 1126px;
  height: 1190px; /* мое новое  */
}

.header-novelties { 
}

.menu {
  display: flex;
  list-style-type: none;
}

.bottom-line {
  width: 1126px;

  border-top: 3px solid black;
  margin-bottom: 20px;
}

/* .editor_selections_items {
    border-radius: 5%;
    border: 1px solid black;
  } */



.editor_selections_item {
  display: block;
  float: left;
  width: 201.19px;
  height: 368.8px;
  margin: 1rem;
  text-decoration: none;
  /* border: 1px solid black; */

  /* width: 250px; мое новое  */
  margin: 0; /* мое новое  */

  /* margin: 10px 28px 10px 0; */
  margin: 0px 11px 0px 11px;
  


}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 201.19px;
  height: 301.78px;
  /* border: 1px solid black; */
}

.novelties-data-name {
  width: 201.19px;
  height: 23px;
  margin: 0 auto;
  text-align: center; /* выровнить текст в блоке по центру */
}

.novelties-data-date {
  width: 201.19px;
  height: 19px;
  margin: 0 auto;
  text-align: center; /* выровнить текст в блоке по центру */
}


